body {
}
.form
{
    width:100%;
    margin-top:10px; 
    padding:30px;
}
.lb
{
    width:40%;
    margin-bottom:20px;
    margin-left:10px;
    font-size:20px;
    float:left;
    height:35px;
}
.tb
{
    border-radius:10px;
    margin-bottom:20px;
    width:50%; 
    margin-right:10px; 
    float:right;
    font-size:15px;
    height:35px;
    outline:none;
    background:linear-gradient(rgba(255,255,255,0.8),rgba(0,0,100,0.2));
     transition:0.5s;
    border:solid 2px rgba(0,0,100,0.8);
}
.tb:hover 
{
  
    border:none;
   border-bottom:solid 3px rgba(0,0,100,0.8);   
   transform:scale(1.02);
   
}
.tb:focus
{
   border:solid 3px rgba(0,0,100,0.8); 
   border-top:none;   
   border-left:none;   
   transform:scale(1.02);
}
.btn
{
    padding:7px 15px;
    margin-top:20px;
    color:White;
    font-size:20px;
    background:linear-gradient(135deg,rgba(0,0,255,0.7),rgba(0,0,100,1),rgba(0,0,0,0.7));
    border:none;
    border-radius:10px;
    transition:0.5s;

    }
.btn:hover
{   color:White;
    background:linear-gradient(135deg,rgba(0,0,0,0.7),rgba(0,0,100,1),rgba(0,0,255,0.7));
   }