body {
    font-family: Arial, sans-serif;
    background-size:cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    border-radius:10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    padding: 20px;
    width:300px;
    text-align:center;
    
}
.login-container hr
{
    background-color:Blue;
    height:3px;
    margin-bottom:30px;  
    border:none;  
    border-radius:2px;
}

h2 {
    margin-bottom: 20px;
    color:blue;
}

.form-group 
{
   
    text-align: left;
    margin-left:5px;
    margin-bottom:20px;
    width:100%;
    

}
.form-group b
{
    background-color:rgba(0,0,255,0.1);
    font-size:24px;
    padding:9px 10px;
    border-radius:3px;
    width:10%;
    margin-top:5px;
}
.form-group a
{
    text-decoration:none;
    transition:0.3s;
    margin-left:150px;
}
.form-group a:hover
{
    text-decoration:underline;
}
.lb
{
    float:right;
    margin-top:5px;
    width:73%;
    padding:10px;
    border-radius:3px;
    font-size:18px;
    border:none;
    outline:none;
    border-bottom:solid 3px transparent;
    transition:0.5s;
    background-color:rgba(0,0,255,0.1);
}

.lb:hover 
{
  
   border:none;
   border-bottom:solid 3px black;   
   transform:scale(1.05);
   
}
.lb:focus
{
   border:none;
   border-bottom:solid 3px black;   
   transform:scale(1.05);
   background-color:rgba(255,255,255,0.6)
}
.but
{

    background-color:rgba(0,0,200,0.7);
    color: White;
    border-radius:16px;
    padding: 8px 20px;
    font-size: 16px;
    border:solid 3px transparent;
    cursor: pointer;
    transition: 0.5s;
    margin-top:20px;
}
::placeholder
{
    color:black;    
}
.but:hover 
{
    border:solid 3px blue;
    background-color:transparent;
    color:Blue;
}


@media (max-width: 600px) {
    .login-container {
        width: 80%;
    }
    .form-group a
     {
         margin-left:100px;
     }
}

@media (max-width: 360px) {
    .login-container {
        width: 90%;
       
    }
    .form-group a
     {
         margin-left:150px;
     }
}
@media (max-width: 320px) {
    .form-group a
     {
         margin-left:110px;
     }
}


